body{
    background-color: white;
}

.barrasup{
    width: 100%;
    height: 13%;
    background-color: #8800D0;
    position:fixed;
    margin-top: -8px;
    margin-left: -8px;
    float: left;
    z-index: 1;
}

.opciones{
    display: flex;
    justify-content: center;
    align-items: center;    
    font-weight: bolder;
    font-size: 15pt;
    float: left;
    margin-top: 2%;
    margin-left: 8%;
}

.home{
    margin-left: 16.2%;
}

.burbuja{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 10%;
    margin-top: 15%;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #9200E0;
    font-size: 18pt;
}

.container_rrss{
    font-size: 20pt;
    position: absolute;
    width: 45px;
    height: 45px;
    left: 90%;
    top: 76%;
    border-radius: 50%;
    background-color: transparent;
    border: 0px;
}

.texto_div{
    float: left;
    height:unset;
    margin-top: 9%;
    margin-left: 26%;
    border: 2.5px solid white;
    border-radius: 10px;
    box-shadow: 10px 15px 18px 0px rgb(141, 141, 141);
}

.iconos_dispospositivos{
    margin-top: 3.9%;
    margin-left: 25%;
}

h5, h1{
    margin-left: 10px;
    margin-right: 10px;
    color: #8800D0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h5{
    font-weight: bolder;
    font-size: 17px;
}

a{
    color: black;
    text-decoration: none;
}

a:hover{
    color: rgb(180, 179, 179);
}


.calculadora_py, .ahorcado_python, .ppt_python, .tic_tac_toe_python, .calculadora_htmljs{
    margin-top: 10%;
    margin-left: 8%;
    position: relative;
    float: left;
    height: 140px;
    width: 140px;
    background-color: #8800D0;
    border-radius: 15%;
}

.boton_burbuja{
    background-color: #8800D0;
    border: 0px;
    right: 7%;
    bottom: 8%;
    position: absolute;
    border-radius: 15%;
}


.boton_burbuja:hover{
    background-color: #530080;
}

.punto_opciones{
    background-color: white;
    height: 6px;
    width: 6px;
    border: 1px solid black;
    border-radius: 50%;
    margin-top: 1%;
}

.texto_proyecto{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    font-size: 18pt;
    top: -18%;
    left: 4%;
    position: absolute;
}

.boton_code{
    position: fixed;
    top: -2%;
    left: -2%;
    width: 105%;
    height: 105%;
    background-color: #a8a8a877;
    border: 0px;
    
}

.codigo{
    top: -6%;
    width: 50%;
    height: 40%;
    max-width: 50%;
    max-height: 40%;
    position: relative;
    color: black;
    background-color: #9700e9;
}

.container_form{
    top: 20%;
    border: 2px solid white;
}

.texto_form{
    font-size: 20pt;
    font-weight: bolder;
    color: rgb(121, 121, 121);
    margin-top: 63px;
    margin-left: 30%;
    position: absolute;
    float: left;
}

.nombre_form{
    margin-left: 39%;
    margin-top: 86px;
}

.numerotel_form{
    margin-left: 29%;
}

.input_form{
    max-width: 20%;
    max-height: 10%;
    min-height: 10%;
    min-width: 18%;
    margin-top: 70px;
    margin-left: 48%;
    background-color: rgba(189, 189, 189, 0.842);
    border: 2px solid #9200E0;
}

.primer_input_form{
    margin-top: 95px;
}

.razon_formu{
    margin-left: 40%;
}

.enviar{
    padding: 1%;
    width: 5%;
    height: 7%;
    background-color:#8800D0;
    border: 2px solid black;
    border-radius: 15%;
    position: absolute;
    margin-top: 2%;
    left: 45%;
}

.enviar:hover{
    background-color: #530080;
}

.formas_contacto{
    margin-left: 18%;
    float: left;
    margin-top: 7%;
}

.numtel{
    margin-left: 5%;
}

.container_text_empresas{
    position:absolute;
    top: 16%;
    left: 20%;
    border: 2px solid white;
    box-shadow: 6px 12px 12px rgb(141, 141, 141);
    border-radius: 25px;
    width: 50%;
    height: 25%;
}

.empresas{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #8800D0;
    position: relative;
    margin-top: 3%;
    margin-left: 1%;
    float: left;
    width: 9%;
    padding: 4%;
    border: 2px solid #350050;
    transition: width 1s;
}

.empresas_colab:hover{
    width: 11%;
}

.facebook_colab{
    margin-top: 14%;
}

.youtube_colab{
    margin-top: 28%;
}

.twitter_colab{
    margin-top: 42%;
}

.twitch_colab{
    margin-top: 56%;
}

.texto_empresas{
    color: black;
    margin-left: 22%;
}

.scrollbar::-webkit-scrollbar{
    width: 10px;
}

.scrollbar::-webkit-scrollbar-track{
    background-color: #6800A0;
}

.scrollbar::-webkit-scrollbar-thumb{
    background-color: rgb(169, 169, 169);
    border-radius: 20px;
    border: 2px solid #6800A0;
}

/*MODO OSCURO*/
.body_oscuro{
    background-color: black;
}


/*Switch claro-oscuro*/

.switch {
    position: fixed;
    display: inline-block;
    width: 3%;
    height: 3.3%;
    
    top: 88%;
    left: 2.8%;
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 77%;
    width: 39%;
    left: 12%;
    bottom: 10%;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #9200E0;
}

input:focus + .slider {
    box-shadow: 0 0 1px #9200E0;
}

input:checked + .slider:before {
    -webkit-transform: translateX(99%);
    -ms-transform: translateX(99%);
    transform: translateX(99%);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}