.priBox1{
    border: 2px solid darkcyan;
    background-color:darkcyan;
    width: 150px;
    height: 150px;
}

.priBox2{
    border: 2px solid dimgrey;
    background-color: dimgrey;
    width: 150px;
    height: 150px;
}

.secBox1{
    border: 2px solid darkcyan;
    background-color:darkcyan;
    width: 150px;
    height: 150px;
    float:left;
}

.secBox2{
    border: 2px solid dimgrey;
    background-color: dimgrey;
    width: 150px;
    height: 150px;
    float:left;
}

.terBox1{
    border: 2px solid darkcyan;
    background-color:darkcyan;
    width: 150px;
    height: 150px;
    float:left;
}

.terBox2{
    border: 2px solid dimgrey;
    background-color: dimgrey;
    width: 150px;
    height: 150px;
    float:right;
}

.cuarBox1{
    border: 2px solid darkcyan;
    background-color:darkcyan;
    width: 150px;
    height: 150px;
    float:right;
}

.cuarBox2{
    border: 2px solid dimgrey;
    background-color: dimgrey;
    width: 150px;
    height: 150px;
    float:right;
}

.cuarBox3{
    border: 2px solid darksalmon;
    background-color: darksalmon;
    width: 150px;
    height: 150px;
    float:left;
}

.quinBox1{
    border: 2px solid darkcyan;
    background-color:darkcyan;
    width: 150px;
    height: 150px;
    float:right;
}

.quinBox2{
    border: 2px solid dimgrey;
    background-color: dimgrey;
    width: 150px;
    height: 150px;
    float: right;
}

.quinBox3{
    border: 2px solid darksalmon;
    background-color: darksalmon;
    position: absolute;
    width: 150px;
    height: 150px;
    float:left;
    top: 1530px;
}

.sextaBox1{
    border: 2px solid darkslategray;
    background-color: darkslategray;
    position:absolute;
    width: 150px;
    height: 150px;
}
.sextaBox2{
    border: 2px solid goldenrod;
    background-color: goldenrod;
    position:absolute;
    width: 150px;
    height: 150px;
    top: 1785px;
    left:50px;
}

.sepBox1{
    border: 2px solid darkslategray;
    background-color: darkslategray;
    position:absolute;
    width: 150px;
    height: 150px;
    z-index: 2;
}

.sepBox2{
    border: 2px solid goldenrod;
    background-color: goldenrod;
    position:absolute;
    width: 150px;
    height: 150px;
    top: 2060px;
    left:50px;
    z-index: 1;
}

.parrafo{
    border:2px solid white;
    height: 100px;
}