<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="estiloslayout.css">
    <title>Document</title>
</head>
<body>
    <div class="head">HEAD</div>
    <div class="menu">barra de menú</div>
    <div class="intro">datos introductorios</div>
    <div class="imagen">imagenes</div>
    <div class="info">información a contar</div>
    <div class="intereses">sitios de interes</div>
    <div class="contacto">datos de contacto</div>
</body>
</html>